body{
    background-color: #92dd88;
    a{text-align: center;}
}

h1,h2,h3,p,iframe,a{text-align: center;}

* {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
a {
  color: rgb(0, 0, 0);  /* kolor tekstu */
  cursor: pointer;       /* zmień kursor */
  
}

  
